body {
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background: #2d8bed;
    color: white;
    border: none;
    border-radius: 5px;
}

#chart {
    margin-top: 20px;
}
